* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  display: flex;
  width: 1728px;
  height: 1117px;
  padding: 100px 1188px 755px 100px;
  align-items: center;
  background: var(--lavender, #c4d2f5);
}

.player {
  display: flex;
  width: 440px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  background: var(--white, #fff);
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.player-track-title {
  color: var(--black, #000);
  font-size: 18px;
}

.player-track-artist {
  color: var(--gray, #909090);
  font-size: 15px;
}

audio {
  display: none;
}

.player-progress {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}

.player-time {
  color: var(--gray, #909090);
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.player-progress-bar {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 3px;
  background: var(--light-gray, #f6f6ef);
}

.player-progress-inner {
  width: 120px;
  height: 6px;
  background: var(--purple, #e783bc);
}
