* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  display: flex;
  width: 1728px;
  height: 1117px;
  padding: 100px 1188px 755px 100px;
  align-items: center;
  background: var(--lavender, #c4d2f5);
}

.player {
  display: flex;
  width: 440px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  background: var(--white, #fff);
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player-track-title {
}

.player-track-artist {
}

audio {
  display: none;
}
